.formation-board {
	width: 100%;
}

.month-section {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  /* overflow-x: visible; */
   /* Accent doré */

  width: 100%;
}

.month-header {
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 13px;
  font-weight: bold;
}

.month-inactive {
  width: 1200px;
}

.content {
	padding-left: 20px;
	padding-top: 20px;
	width: 100%;
	height: 92vh;
	overflow-y: scroll;
	overflow-x: scroll;
	scrollbar-width: none;
  }

tr {
  cursor: pointer;
  background-color: #fff;
}

.month-active {
  border-radius: 5px 5px 0 0;
  padding: 10px;
  background-color: transparent;
}

.table-view-container {
	width: 100%;
	/* overflow-x: scroll; */
	/* overflow-y: hidden; */
	display: block;
	padding-bottom: 1rem;
	scrollbar-width: none; /* Cache les barres de défilement par défaut */
  }

  table {
	border-collapse: collapse;
	/* overflow-x: scroll; */
	table-layout: auto; /* Permet à la taille des colonnes d'être dynamique */
  }

  th, td {
	white-space: nowrap;  /* Empêche le retour à la ligne automatique */
	/* overflow: hidden; */
	background-color: #30324e;
	position: relative;
	text-overflow: ellipsis; /* Affiche "..." si le texte dépasse */
	text-align: center;
	color: #d5d8df;
	padding: 8px;
	border: 1px solid #4b4e69;
  }


  th {
	font-weight: bold;
	top: 0;
	z-index: 10;
  }

  /* td {
	background-color: #fff;
  } */


  tr:first-child {
	border-radius: 5px 5px 0 0;
  }

  tr:last-child td {
  }


  .resize-handle {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	cursor: col-resize;
	transition: background-color 0.3s ease;
  }

  .resize-handle:hover {
	background-color: rgba(0, 0, 0, 0.3);
  }

  .selected {
	background-color: #16317b;
  }

  .create-button {
	background-color: transparent;
	border: none;
	color: #333;
	font-size: 30px;
	cursor: pointer;
	transition: color 0.3s ease;
  }

  .create-button:hover {
	color: #f39c12; /* Accent doré */
  }

  .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 25px;
	z-index: 1000;
  }

  .modal-column-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }

  .modal-column-content button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	background-color: #f39c12; /* Accent doré */
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }

  .modal-column-content button:hover {
	background-color: #e67e22;
  }

  /* Modal modification colonne */

.context-menu {
  position: absolute;
  background-color: #2b2d42;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10000000;
}

.table td {
  position: relative; /* Pour que la modale soit positionnée par rapport à chaque colonne */
}
