.table-view-container {
  width: 100%;
  margin-top: 20px;
}

.month-section {
  margin-bottom: 20px;
  width: 100%;
}

.month-header {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.month-inactive {
	border-radius: 5px;
}

.content {
  padding: 10px;
  width: 95%;
  height: 100%;
  scrollbar-width: none;
  overflow-y: auto;
}

tr {
  cursor: pointer;
  background-color: #fff;
}

.month-active {
	border-radius: 5px 5px 0 0;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #ddd;
}
