.view-list {
	font-family: Arial, sans-serif;
	color: #333;
  }

  .view-list button {
	background-color: #4b7bec;
	color: #ffffff;
	border: none;
	margin: 0;
	cursor: pointer;
  }

  .view-switcher {
	display: flex;
	align-items: center;
  }


  .view.active {
	color: white;
  }

  .ellipsis-icon {
	margin-left: 8px;
	color: #ffffff;
	cursor: pointer;
	display: none;
  }

  .view:hover .ellipsis-icon {
	display: inline;
  }

  .options-modal {
	position: absolute;
	top: 300px;
	right: 600px;
	width: 820px;
	padding: 10px;
	background-color: rgb(222, 222, 222);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 1000;
  }

  .options-modal button {
	background-color: transparent;
	border: none;
	color: #000000;
	padding: 8px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	width: 100%;
  }

  .options-modal button:hover {
	background-color: #969696;
  }

  .filtering {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
  }

  .filtering input {
	border: none;
	border-bottom: 1px solid #333;
	margin-right: 10px;
  }

  .filtering button {
	background-color: transparent;
	border: none;
	color: #333;
	cursor: pointer;
  }

  .filtering button:hover {
	color: #ffffff;
  }
